<header>
  <nav class="navbar">
    <div>
      <a href="/">Footwear Fusion Home</a>
      <a href="/products">All products</a>
      
      <!-- if (user) -->
      <a href="/products/new">Add product</a>
      <a href="/product">My products</a>
      <a href="/favorites">My favorites</a>
    </div>

    <div>
      <a href="/messages">Messages</a>
      <button>Logout</button>
      <!-- if (!user) -->
      <a href="/login">Sign In</a>
      <a href="/register">Create account</a>
    </div>

  </nav>
</header>