<header>
  <nav class="navbar">
    <div>
      <a href="/">Footwear Fusion Home</a>
      <a href="/products">All products</a>
      
      <!-- if (user) -->
      <a href="/myProducts">My Listing</a>
      <a href="/favorites">My favorites</a>
    </div>

    <div>
      <a href="/messages">My messages</a>
      <form action="/login/logout" method="POST">
        <button>Logout</button>
      </form>
      <!-- if (!user) -->
      <a href="/login">Sign In</a>
      <a href="/register">Create account</a>
    </div>

  </nav>
</header>