<header>
  <nav class="navbar">
    <div >
      <a class="nav-item" href="/">Home</a>
      <a  class="nav-item" href="/products">All products</a>
      
    <% if (user) { %>
      <a class="nav-item" class="nav-item" href="/myProducts">My Listing</a>
      <a class="nav-item" href="/favorites">My favorites</a>
      <a class="nav-item" href="/messages">My messages</a>
    </div>

    <div class="nav-end">
      <span class="nav-item user-name">Hello,  <%= user.name %></span>
      <form method="POST" action="/login/logout">
        <button class="nav-btn nav-item " type="submit">Logout</button>
       </form>
      <%  } %>
    </div>

      <%  if (!user) { %>
        <div>
      <a class="nav-item" href="/login">Sign In</a>
      <a class="nav-item" href="/register">Create account</a>
    </div>
      <%  } %>


  </nav>
</header>
