<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add product</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <!-- <link rel="stylesheet" href="/styles/main.css" /> -->
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css">
  <link rel="stylesheet" href="/styles/products.css">

  <!-- Font Awesome library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />



  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <%- include('partials/_header') %>
  </header>

  <h1>Add New Product</h1>
  <div class="add-product">
    <form action="/myProducts/new" method="POST">
      <div>
        <label for="title">Title</label>
        <input type="text" name="title" placeholder="Title" required>
      </div>
      <div>
        <label for="model">Model</label>
        <input type="text" name="model" placeholder="Model" required>
      </div>
      <div>
        <label for="description">Description</label>
        <input type="text" name="description" placeholder="Description" required>
      </div>
      <div>
        <label for="size">Size</label>
        <input type="number" name="size" placeholder="Size" required>
      </div>
      <div>
        <label for="color">Color</label>
        <input type="text" name="color" placeholder="Color" required>
      </div>
      <div>
        <label for="price">Price</label>
        <input type="number" name="price" placeholder="Price" required>
      </div>
      <div>
        <label for="photo_url">Photo_url</label>
        <input type="text" name="photo_url" placeholder="Photo_url" required>
      </div>
      <button type="submit">Add product</button>
    </form>
  </div>
</body>

</html>