<!--
    Title: LOGIN PAGE 
    Description: Displays login page content
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/styles/loginStyle.css">
    <link rel="stylesheet" href="/styles/nav.css">
</head>

<body>
    <!-- Header section -->
    <header>
        <%- include('partials/_header') %>
    </header>

    <!-- Login form section -->
    <section>
        <h1>Login</h1>
        <form method="POST" action="/login">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br>

            <input type="submit" value="Login">
        </form>
    </section>
</body>

</html>
