<!--
    Title: LOGIN PAGE 
    Description: Displays login page content
-->

<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body>
    <header>
        <%- include('partials/_header') %>
        <link rel="stylesheet" href="/styles/loginStyle.css">
        <link rel="stylesheet" href="/styles/nav.css">
    </header>

    <h1>Sign In</h1>
    <form method="POST" action="/login">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
</body>

</html>
