<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All products</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <!-- <link rel="stylesheet" href="/styles/main.css" /> -->
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css">
  <link rel="stylesheet" href="/styles/products.css">


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <%- include('partials/_header') %>
  </header>

  <h1>Product detail</h1>
  <div class="product-card">
    <a href=""><img src="https://cdn.shopify.com/s/files/1/0675/6836/9984/files/NKDQ5972-101NikeAirForce1LV82BlackSummitWhiteSesameBlackGS_29638_large.jpg?v=1693844428" alt="" ></a>
    <p>Title</p>
    <p>Product type</p>
    <p>Description</p>
    <p>Size</p>
    <p>Color</p>
    <p>Price</p>
    <p>Review</p>
  </div>

  <!-- if (user)  -->
  <div>
    <button>Mark as Sold</button>
    <button>Delete</button>
  </div>
</body>