<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All products</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/products.scss" />


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <%- include('partials/_header') %>
  </header>

  <h1>All products</h1>
<div class="search-shoes">
  <h3>Search</h3>
  <form>
    <div class="search-by-size">
      <label for="search-size">Size</label>
      <input type="number" placeholder="Size" id="search-size">
    </div>

    <div class="search-by-type">
      <label for="search-type">Product type</label>
      <input type="text" placeholder="Product type" id="search-type">
    </div>

    <div class="search-by-color">
      <label for="search-color">Color</label>
      <input type="text" placeholder="Color" id="search-color">
    </div>

    <div class="search-by-price">
      <label for="search-price">Price, $</label>
      <input type="number" placeholder="Minimum" id="search-minimum-price">
      <input type="number" placeholder="Maximum" id="search-maximum-price">
    </div>

    <div>
      <button class="search-btn" type="submit">Search</button>
    </div>
  </form>
</div>

<div id="search-result">

</div>
<div id="all-products">
  <!-- fake data -->
  <div class="product-card">
    <a href="/products/:id"><img src="https://cdn.shopify.com/s/files/1/0675/6836/9984/files/NKDQ5972-101NikeAirForce1LV82BlackSummitWhiteSesameBlackGS_29638_large.jpg?v=1693844428" alt="" width="50px"></a>
    <p>Title</p>
    <p>Price</p>
  </div>

  <div class="product-card">
    <a href="/products/:id"><img src="https://cdn.shopify.com/s/files/1/0675/6836/9984/files/NKDQ5972-101NikeAirForce1LV82BlackSummitWhiteSesameBlackGS_29638_large.jpg?v=1693844428" alt="" width="50px"></a>
    <p>Title</p>
    <p>Price</p>
  </div>

  <div class="product-card">
    <a href="/products/:id"><img src="https://cdn.shopify.com/s/files/1/0675/6836/9984/files/NKDQ5972-101NikeAirForce1LV82BlackSummitWhiteSesameBlackGS_29638_large.jpg?v=1693844428" alt="" width="50px"></a>
    <p>Title</p>
    <p>Price</p>
  </div>

</div>
</body>
</html>