// See: https://sass-lang.com/

body,
html {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f4f1ec;
  width: 90%;
  margin: auto;
}