.navbar {
  padding: 10px;
  font-size: 18px;
}

.nav-item {
  padding: 12px;
  color: black;
}

.nav-end{
  display: flex;
  justify-content: center;

}

.nav-btn {
  background-color: transparent;
  border: white 2px solid;
  border-radius: 10px;
  align-self: center;
}