.navbar {
  padding: 10px;
  font-size: 18px;
  background-color: #efebea;
}

.nav-item {
  padding: 12px;
  color: black;
  font-family: 'Poppins', sans-serif;
}

.nav-end {
  display: flex;
  justify-content: center;
}

.nav-btn {
  background-color: transparent;
  border: white 2px solid;
  border-radius: 10px;
  align-self: center;
}

.user-name{
  padding: 15px;
}

li {
  list-style: none;
}