

.products {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.product-card {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

img {
  width: 300px;
}

.sold {
  color: red;
}

.heart-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
